<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RegTesting.Node.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
	
	<appSettings>
		<!-- Polling Intervall in milliseconds -->
		<add key="PollingIntervall" value="10000" />
		
		<!-- The address to the service -->
		<add key="ServerAddress" value="http://localhost:1234/NodeService" />
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_INodeService" closeTimeout="00:00:20" openTimeout="00:00:20" receiveTimeout="00:00:20" sendTimeout="00:00:20" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
					<reliableSession ordered="true" inactivityTimeout="00:01:00" enabled="true"/>
					<security mode="None">
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INodeService" contract="INodeService" name="NodeServiceEndpoint"/>
		</client>

	</system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	<dependentAssembly>
		<assemblyIdentity name="WebDriver" publicKeyToken="1C2BD1631853048F" culture="neutral"/>
		<bindingRedirect oldVersion="0.0.0.0-2.45.0.0" newVersion="2.45.0.0"/>
	</dependentAssembly>
	<dependentAssembly>
		<assemblyIdentity name="WebDriver.Support" publicKeyToken="1C2BD1631853048F" culture="neutral"/>
		<bindingRedirect oldVersion="0.0.0.0-2.45.0.0" newVersion="2.45.0.0"/>
	</dependentAssembly>
    <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
	  
  </runtime>
</configuration>
