<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="RegTesting.LocalTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
	<userSettings>
        <RegTesting.LocalTest.Properties.Settings>
               <setting name="Language" serializeAs="String">
                      <value />
               </setting>
               <setting name="Browser" serializeAs="String">
                      <value />
               </setting>
               <setting name="Testcase" serializeAs="String">
                      <value />
               </setting>
               <setting name="Testsystem" serializeAs="String">
                      <value>dev</value>
               </setting>
               <setting name="TestcaseFilter" serializeAs="String">
                      <value />
               </setting>
        </RegTesting.LocalTest.Properties.Settings>
    </userSettings>
	
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_Default" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
					<reliableSession ordered="true" inactivityTimeout="00:01:00" enabled="true"/>
					<security mode="None"/>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://xd-its-brows-00:8005/LocalTestService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Default" contract="ILocalTestService" name="LocalTestServiceEndpoint"/>

		</client>

	</system.serviceModel>
</configuration>
