@model System.Web.Mvc.HandleErrorInfo

@{
	ViewBag.Title = "Error";
}
<h2>Error</h2>
<span class="alert-danger">We are sorry. The Auto-Ui-Testing-Service is currently not available. Please try again later.</span>
<br/>
@if (Model != null)
{
	<p>@Model.Exception.GetType().Name<br />
	thrown in @Model.ControllerName @Model.ActionName</p>
}