<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RegTesting.Tests.Framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RegTesting.Tests.Framework.Properties.Settings>
            <setting name="AsyncCallTimeOut" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="SwitchTabTimeOut" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="WaitForClearAnInput" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="WaitBeforePerformAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WaitAfterPerformAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WatiForAnimationsToComplete" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="TestTimeout" serializeAs="String">
                <value>20</value>
            </setting>
        </RegTesting.Tests.Framework.Properties.Settings>
    </applicationSettings>
</configuration>